@model Sandbox.DotNetCore.Web.ViewModels.CustomersViewModel
<div class="row">
    <h1>Customer/Index</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td><a asp-controller="Customer" asp-action="Edit" asp-route-customerId="@customer.CustomerId">@customer.CustomerId</a></td>
                    <td>@customer.FullName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
